***REMOVED***
 "presets": [
    ["@babel/preset-env"]
  ],
  "plugins": [
    ["@babel/transform-runtime"]
  ],
  "env": ***REMOVED***
    "production": ***REMOVED***
       "presets": ["minify"]
  ***REMOVED***
***REMOVED***
***REMOVED***
